@using VendorOrderTracker.Models; 

@{ Layout = "_Layout"; }

<div class="jumbotron">
  <h1>Vendors</h1>
</div>

@if(Model.Count == 0){
  <h2>You don't have any vendors yet</h2>
} else {

@foreach(Vendor vendor in Model) {
<div class="vendor-container">
  <h2>@vendor.Name</h2>
  <h2>@vendor.Description</h2>
  <a href="/vendors/@vendor.Id">Orders</a>
</div>
}
}
<div class="links">
  <a href="/vendors/new">Add Vendor</a>
  <a href="/home">Home</a>
</div>
