@using VendorOrderTracker.Models;

@{ Layout = "_Layout"; }

@if (Model.GetOrders().Count == 0) {
  <h2>No orders have been placed yet.</h2>
  <a href='/vendors/@Model.Id/orders/new'></a>
}

<ol>
@foreach (Order order in Model.GetOrders())
{
  <li><a href='/vendors/@Model.Id/orders/@order.Id'>@order.Description</a></li>
}
</ol>
GetOrders
<p><a href='/vendors/@Model.Id/orders/new'>Add Order</a></p>
<p><a href='/vendors'>View Vendors</a></p>
<p><a href='/'>Home</a></p>