<h1>To Do List Item Details: </h1>

if()

<h2>@Model["item"].Description</h2>
<h3>Category: @Model["category"].Name</h3>

<a href='/vendors/@Model.Id/orders/new'>Add Order</a>
<a href='/vendors'>View Vendors</a>